body{
  font-family: Arial, helvetica, sans-serif;
  background-image: url("background.jpg");
  background-size: 100%;
  line-height: 1.5em;
  margin: 0 auto;
}
.container {
  padding: 2em;
  max-width: 65em;
  margin: 0 auto;
  background-color: white;
  opacity: 0.95;
}
header{
  box-shadow: 0 15px #4f4947;
  height: 3em;
}
footer{
  display: grid;
  align-items: center;
  box-shadow: 0 -15px #4f4947;
  text-align: center;
}
header,
footer{
  color: white;
  padding: 1em;
  background-color: #66615f;
  position:relative;
  z-index: 2;
}
.headfootcont{
  max-width: 65em;
  margin: 0 auto;
  height: 100%;
}
.nav-links{
  padding: 1em 0em 1em 0em;
  margin: 0;
  text-align: right;
  font-family: 'Cabin', sans-serif;
}
h1{
  font-family: 'Cabin', sans-serif;
}
.III {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.II {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contIMG{
  display: grid;
  grid-template-columns: 70% 30%;
}
i{
  font-family: 'Cabin', sans-serif;
}
a {
  font-size: 1.2em;
  text-decoration: none;
  color: white; 
}
a:hover {
  text-decoration: none;
  color: #969696;
}
.text { 
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 200%;
}
h1 i{
  color: #9b9b9b;
}
.imgCol{
  grid-column-gap: 10px;
}

.btop{
  display: grid;
  position: fixed;
  bottom: 0em;
  right: .5em;
  border-radius: 50% 50% 0 0;
  height: 1.5em;
  width: 1.5em;
  font-size: 2em;
  color: black;
  background: #c4c4c4;
  text-align: center;
  align-items: center;
  z-index: 3;
}
.btop:hover{
  background: black;
  color: #c4c4c4;
}

.navb a{
  display: block;
  padding: 0em 1em;
  border-right: 1px solid #fff;
}
.navb a:last-child{
  border: none;
}
footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0; 
}
