body{
  font-family: Arial, helvetica, sans-serif;
  background-image: url("background.jpg");
  background-size: 100%;
  line-height: 1.5em;
  margin: 0 auto;
}
.container {
  padding: 2em;
  max-width: 60em;
  margin: 0 auto;
  background-color: white;
}
header{
  background-color: #666666;
  padding: 1em;
  box-shadow: 0px 7px 20px black;
  position: fixed;
  width: 100%;
}
footer{
  box-shadow: 0px -7px 20px black;
  background-color: #666666;
  padding: 1em;
  height: 5em;
  display: grid;
  align-items: center;
}
.headfootcont{
  max-width: 60em;
  margin: 0 auto;
}
.barrier{
  height: 5em;
}
.nav-links{
  padding: 1em 0em 1em 0em;
  margin: 0;
  text-align: right;
  font-family: 'Cabin', sans-serif;
}
h1{
  font-family: 'Cabin', sans-serif;
}
.III {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.II {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
a {
  font-size: 1.2em;
  text-decoration: none;
  color: white; 
}
a:hover {
  text-decoration: none;
  color: #969696;
}
.text { 
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 200%;
}
i{
  color: #9b9b9b;
}
.imgCol{
  grid-column-gap: 10px;
}
